@model IEnumerable<Product>

@{
	ViewData["Title"] = "Home Page";
}

@* Banner *@
<section class="py-5 overflow-hidden bg-primary" id="home">
	<partial name="_BannerPartial" />
</section>

@* List Item *@
<section class="py-5 overflow-hidden">
	<div class="container">
		<div class="row gx-3">
			@foreach (var item in Model) {
				<div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
					<div class="card card-span h-100 text-white rounded-3 shadow">
						@if (item.ProductImages != null && item.ProductImages.Count() > 0) {
							<img src="@item.ProductImages.FirstOrDefault().ImageUrl"
								 class="img-fluid rounded-3 h-100" />
						} else {
							<img src="https://placehold.co/500x600/png" class="img-fluid rounded-3 h-100" />
						}
						<div class="card-img-overlay ps-0" style="bottom: 150px">
							<span class="badge bg-danger p-2 ms-3">
								<i class="bi bi-tag-fill me-1 fs-0"></i>
								@if (item.SaleOff != null && item.SaleOff > 0) {
									<span class="fs-0">@item.SaleOff % off</span>
								}
							</span>
						</div>
						<div class="card-body ps-3">
							<a asp-area="Customer" asp-controller="Home" asp-action="Details"
							   asp-route-productId="@item.Id" class="flex-1">
								<h5 class="fw-bold text-1000 text-custom-one-line text-truncate mb-1 pb-1">@item.Title</h5>
							</a>
							<div class="d-flex justify-content-between mb-2">
								<div>
									<span class="text-warning me-2">
										<i class="bi bi-tag-fill"></i>
									</span>
									<span class="text-primary">@item.Category.Name</span>
								</div>
								<div>
									<span class="text-primary fs--1 me-1">
										<i class="bi bi-star-fill"></i>
									</span>
									<span class="mb-0 text-primary">46</span>
								</div>
							</div>
							<div class="d-flex justify-content-between">
								<span class="fw-bold text-danger">
									@((item.Price - (item.Price * item.SaleOff / 100)).ToString("c"))
								</span>
								<span class="text-1000 fw-bold text-decoration-line-through">
									@item.Price.ToString("c")
								</span>
							</div>
						</div>
						<div class="d-grid gap-2">
							<a class="btn btn-lg btn-danger bg-gradient"
							   asp-action="Details" asp-route-productId="@item.Id" role="button">
								Order now
							</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>


<section class="py-0">
	<partial name="_CtaTwoBgPartial" />
</section>